body {
  background-image: url("images/connectwork.png");
  background-repeat: repeat;
  background-position: center;
}

span {
    cursor: pointer;
  }

  #gameover{
    font-size: 80px;
  }
  .modal {
    display: none;  
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #586994;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 3px outset white;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #highScoresList {
    list-style-type: decimal;
    list-style-position: inside;
    text-align: left;
    margin: 0 auto 0 auto;

  }

  #highScoresList li{
    text-align: center;
    margin: 0 auto;
  
  }
  #start-button {
    border: 3px outset white;
    text-align: center;
    margin: 0 auto;
  }