body {
    background-image: url("images/connectwork.png");
    background-repeat: repeat;
    background-position: center;
}

span {
    cursor: pointer;
}

#timesup {
    font-size: 80px;
}

.modal {
    display: none;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3282B8;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 5px outset #0f4c75;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#highScoresList {
    list-style-type: decimal;
    list-style-position: inside;
}

#highScoresList li {
    list-style-type: decimal;
    list-style-position: inside;
    width: 75px;
    margin: 0 auto;
    text-align: left;
}

#start-button {
    border: 3px outset white;
    text-align: center;
    margin: 0 auto;
    background-color: #3282B8;
}

button {
    background-color: #3282B8;
    border: 3px outset white;
}